:root{
--Background: hsl(27, 7%, 73%);
--Text: hsl(0, 0%, 7%);
--Mutedtext: hsl(0, 0%, 47%);
--button:hsl(6, 22%, 65%);
--Isapic:  hsl(38, 17%, 75%);
--hair:hsl(0, 54%, 13%);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--Background);
    margin: 0;
    font-family: "Inter", "sans-serif";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}
ul li{
    float: left;
}
ul li a{
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    color: var(--Text);
    font-size:18px;
}
/* ul li a:hover{
    background-color: var(--Background);
    /* transition: width .4s ease-out, background .5s;
        transform: translateX(-90);
        transition: all 0.4s ease-out; */
        
.right{
padding-right : 70%;
}
#Isabella{
    display: flex;
    margin-left: 20%;
    gap: 4rem;
    align-items: center;
}
.word h2{
    font-size: 50px;
    margin-bottom: 0;
   
}
.word{
    font-size: 18px;
     
}
.pic{
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;  */
  padding: 12px 12px 12px 12px;
  width: 300px;
  height: 300px;
  color: var(--Isapic);
   background: var(--Isapic);
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pics{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#about{
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: 12%;
    margin-top: 0;
}
 h3{
    font-size: 24px;
      margin-top: 13%; 
        margin-left: 49rem;
  text-align: left; 
}
.unos{
 border: 2px solid var(--Isapic);
 border-radius: 20px;
 padding: 12px;
 padding-top: 0;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.unos h4{
 text-align: center;
}
 .number{
display: flex;
gap: 20px;
margin: 5px;
margin-bottom: 12px;
flex-wrap: wrap;  /* allows items to move to next line */
 justify-content: center;  /* optional: center items */
 
} 
.one{
    /* flex: 1; */
   padding: 20px;
  
   border-radius: 32px;
   /* border: 2px dashed green; */
   color: var(--Isapic);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex: 1 1 300px; /* grow, shrink, basis */
  max-width: 400px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.one h4{
    text-align: center;
    color: black;
}
.one img{
  width: 100%;
  border-radius: 12px;
  height: 200px; /* or any fixed height */
  object-fit: cover; /* ensures image covers the space without stretching */
}
.one span{
    color: black;
}
.one button{
   margin-left: 5rem;
   padding: 5px;
   color: var(--button);
   border-radius: 12px;
   color: black;
   width: 12rem;
   border: none;
   font-size: 18px;
   margin-top: 2rem;
   background-color: var(--hair);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.one a{
    text-decoration: none;
    color: black;
}
.one span{
    color: var(--hair);
    margin-bottom: 12rem;
}
#contact{
    display: flex;
    gap: 22px;
    margin-left: 22rem;
    color: var(--Text);
    font-size: 18px;
    border: 2px dashed var(--hair);
    padding: 19px;
    margin-right: 28rem;
}
#contact span{
    color: antiquewhite;
}
#contact input{
    border-color:antiquewhite ;
    border-radius: 10px;
    width: 12rem;
    height: 32px;
    margin: 3px;
    background-color: var(--Background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact textarea{
     border-color:antiquewhite ;
    border-radius: 10px;
    width: 32rem;
    height: 42px;
    margin: 3px;
    background-color: var(--Background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 1rem;
}
#contact button{
    margin-left: 5rem;
   padding: 5px;
   color: var(--button);
   border-radius: 12px;
   color: black;
   width: 12rem;
   border: none;
   font-size: 18px;
   margin-top: 2rem;
   background-color: var(--hair);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
footer{
    margin-bottom: 5rem;
}